<!-- templates/lab_7/partials/header.html -->
<nav>
  <div class="container">
    <div class="navbar-header navbar navbar-default">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-static-top" href="{% url 'lab-10:index' %}">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse navbar-static-top">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="{% url 'lab-10:list_watch_later' %}" class="btn btn-default btn-info">Movie List</a> </li>
        <li><a href='{% url "lab-10:list_watch_later" %}'>Watch List</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
