{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/lab_5.css' %}"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 5">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->

    <title>
        {% block title %} Lab 5 By {{author}} {% endblock %}
    </title>
</head>
<style>
.main-title{
  -webkit-animation: colorchange 1s infinite;
  -webkit-animation-direction: alternate;
  text-align: center;
 
}

/* animasi colorchange */
@-webkit-keyframes colorchange {
    0% {
        -webkit-text-stroke: 5px red;
    letter-spacing: 0;
    }
  50% {
    -webkit-text-stroke: 7.5px blue;
  }
    100% {
        -webkit-text-stroke: 10px #db4702;
    letter-spacing: 18px;
    }

}

@media only screen and (max-width: 768px) {
  #input-list form {
      width: 290px;
      /*width: 500px;*/
  }
}
    @media screen and (max-width: 768px) { 
  .flex {
   display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
  align-self: auto;
  }

  .flex-item {
  flex-grow: 1;
  width: 90%;
  height: 90%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  position: relative;
  align-self: auto;
  /*box-sizing: border-box;*/
    }

  }
  .flex-item:hover{
    -webkit-box-shadow: 0px 5px 5px 0px rgba(10,1,10,0.65);
-moz-box-shadow: 0px 5px 5px 0px rgba(10,1,10,0.65);
box-shadow: 0px 5px 5px 0px rgba(10,1,10,0.65);
  }
  
  }
.to-do-list-delete-button{
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.to-do-list-delete-button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.to-do-list-delete-button span:after{

  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.to-do-list-delete-button:hover span {
  padding-right: 25px;
}

.to-do-list-delete-button:hover span:after {
  opacity: 1;
  right: 0;
}

.flex {
background: linear-gradient(141deg, #0FB8AD 0%, #1FC8DB 51%, #2CB5E8 75%);
}

.to-do-list-delete {
    overflow:hidden;
    color:#fff;
    opacity: 0;
  }
  .to-do-list-delete:hover{
   opacity: 1;
   @include transition(20s ease);
  }
@mixin transition($in) {
    transition:$in;
    -webkit-transition:$in;
    -moz-transition:$in;
    -o-transition:$in;
    -ms-transition:$in;
}

</style>
<body>
    <header>
        {% include "lab_5/partials/header.html" %}
    </header>
    <content>
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_5/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="application/javascript">
      $(function() {
          $('a[href*="#"]:not([href="#"])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html, body').animate({
                  scrollTop: target.offset().top - 55
                }, 1000);
                return false;
              }
            }
          });
        });
    </script>
</body>
</html>
