{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
	</br>
	<table class="table">
    {% for movie in watch_later_movies %}
    	<tr> 
    		<td class="info"> {{ movie.title }} </td>
    		<td> {{ movie.year }} </td>
    		<td> {{ movie.genre }} </td>
    		{% if movie.poster %} 
    			<td> <img src={{ movie.poster }} style='height:150px' class='img-responsive img-thumbnail'/> </td>
    		{% else %}
    			<td>  </td>
    		{% endif %}
    	</tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
