{% extends "lab_8/layout/base.html" %}

{% block content %}
<div id="lab8">
  <div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4 center-block">
          <a class="btn btn-block btn-social btn-facebook btn-lg" onclick="facebookLogin()">
    <span class="fa fa-facebook"></span> Sign in with Facebook
  </a>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
    {% endblock %}
