{% extends "base.html" %}
{% block content %}
<style>
	h3{
		color : blue;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	td{
		padding: 10px;
	}

</style>

<h3 style="text-align: center"><font face="jokerman"><marquee>Hi all, This is my complete biodata</marquee></font></h3>
<table align="center" style="text-align: center">
    {% for bio in bio_dict %} <!-- Perintah untuk melakukan looping -->
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
{% endblock %}
