{% extends "lab_4/layout/base.html" %}

    {% block content %}
    
    <h1>Portofolio</h1>
    <hr/>
    <section name="bio">
        <h2>Bio</h2>
        <p>
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    
    <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        <!-- <form id="form" method="POST" action="{message_post/}">  -->
            {% csrf_token %}
            {{ message_form }}
            <!-- <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="name" id="name" size="25"/></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="email" name="email" id="email" size="25"/></td>
                </tr>
                <tr>
                    <td>Message</td>
                    <td><textarea rows="4" cols="50" name="message" id="message"></textarea></td>
                </tr>
            </table> -->
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
    
    {% endblock %}



