{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    </br>
    </br>
    </br>
    <h2>Movie info : {{ movie.title }}</h2>

        <table class="table">
            <tbody>
              <tr><td class="info">Title</td><td>{{ movie.title }}</td></tr>
              <tr><td class="info">Year</td><td>{{ movie.year }}</td></tr>
              <tr><td class="info">Rating</td><td>{{ movie.rating }}</td></tr>
              <tr><td class="info">Released</td><td>{{ movie.released }}</td></tr>
              <tr><td class="info">Runtime</td><td>{{ movie.runtime }}</td></tr>
              <tr><td class="info">Genre</td><td>{{ movie.genre }}</td></tr>
              <tr><td class="info">Director</td><td>{{ movie.director }}</td></tr>
              <tr><td class="info">Writer</td><td>{{ movie.writer }}</td></tr>
              <tr><td class="info">Actor</td><td>{{ movie.actors }}</td></tr>
              <tr><td class="info">Language</td><td>{{ movie.language }}</td></tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
{% endblock %}
