.tempat-foto {
    position: relative;
    display: block;
}

.picture {
    left: 5%;
    top: 80%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
    width:15%;
}

.data{
	position: absolute;
    bottom: 20px;
    left: 20%;
    color: white;
}

.data h1,h2{
	margin-bottom: -25px;
}

.feed {
   border-left: double thick #4286f4;
   background-color: #efefef;
   width: 600px;
}

.feed:nth-child(odd) {
    background: #daf1eb;
    border-radius: 20px;
    padding: 5px;
}

.feed:nth-child(even) {
	border-radius: 20px;
    background: #ffe4e1;
    padding: 5px;
}
