{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            $.ajax({
                // kalo get kayaknya gk usah spesifik in data deh
                method: "GET",
                url: "{% url 'lab-7:get-friend-list' %}", // update
                success: function (response) {
                    console.log("hehehe");
                    list_friend = response.results;
                    for(var i=0; i<list_friend.length; i++){
                        friend = list_friend[i];
                        // membuat html

                    html = '<div class="list-group-item" id="friend-'+friend.pk+'"> \
                                <a class="list-group-item clearfix" style="width:100%">' +
                                    friend.friend_name + " " + "(" + friend.npm + ")"
                                +'<span class="pull-right">'+
                                                '<button type="button" class="btn btn-xs btn-danger"'+
                                            'onclick="deleteFunc('+friend.pk+')">'+
                                                '&times;'+
                                            '</button>'+
                                         '</span>';+ '</a> \
                                </div>';
                    $('#friend-list').append(html);
                    console.log(friend.pk);
                    }
                    // gunakan fungsi append
                },
                error: function(error){
                    // ambil dari lab_7.html
                html = '<div class="alert alert-danger text-center">\
                            <strong>Opps!</strong> Tidak ada teman\
                        </div>';
                $('#friend-list').append(html);
                }
            });
        });

        const deleteFunc = function(id){ //javascrpt biasa
            friend_id = id;
            window.open('delete-friend/'+friend_id+'/', '_self');
        };

    </script>
{% endblock %}
